.search-widget-wrapper {
  width: 50%;
  position: relative;
  .error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.5);
  }
  .search-widget {
    box-shadow: 0 -3px 8px -6px rgba(50,50,93,.25), 0 8px 4px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  input {
    width: 45%;
    padding: 8px 12px 8px 40px;
    border: none;
    display: flex;
    outline: none;
    line-height: 24px;
    font-size: 12px;
    flex: 2;
    border-right: 1px solid #e7e7e7;
  }
  .location-input {
    width: 42%;
    position: relative;
    display: flex;
  }
  .arrow {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  .location, .calendar {
    position: absolute;
    top: 10px;
    font-size: 20px;
    left: 10px;
  }
  button {
    flex: 1;
    border: none;
    background: #5e5bff;
    color: white;
    cursor: pointer;
    padding: 16px;
  }
  .auto {
    position: absolute;
    top: 41px;
    width: 39%;
    left: 0px;
    background: white;
    padding: 10px;
    text-align: left;
    z-index: 1;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
      ul {
      margin: 0;
      padding: 0;
      list-style: none;
        li {
        border-bottom: 1px solid #dbd8d8;
        padding: 8px 12px;
        font-size: 14px;
        text-align: left;
        cursor: pointer;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search-widget-wrapper {
    width: 80%;
    input {
      line-height: 2.5;
      border-bottom: 1px solid #dbd8d8;
    }
    .auto {
      width: 93%;
    }
    .location-input {
      width: 100%;
    }
  }
}

