.page-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/error.png');
  background-size: cover;
  background-position: bottom center;
  .not-found {
    margin-top: 2em;
    .error {
      font-weight: 600;
      font-size: 20px;
      color: white;
      margin: 0;
    }
    .status {
      margin: 0;
      font-size: 30px;
      color: white;
      font-weight: 800;
      margin: 10px 0;
    }
    .error-msg {
      margin: 0;
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 400;
      color: white;
    }
    a {
      border: 1px solid white;
      background: white;
      color: black;
      padding: 9px 12px;
      border-radius: 0;
      position: relative;
      top: 2em;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
    }
  }
}
.cart-sidebar-wrapper {
  display: none;
}
