.search-result-wrapper {
	color: black;
	width: 100%;
    display: flex;
    flex: 1;
    .active {
    	border-color: red !important;
    }
    .search-filter {
    	overflow: auto;
	    padding-top: 10px;
	    background: #efefef;
	    font-size: 12px;
	    flex: 1;
	    .item {
	    	background: #efefef;
  			padding: 10px 30px;
	    	.car-filter {
				.cargroup {
					display: flex;
				    align-items: center;
				    border: 1px solid #d8d8d8;
				    .type {
				    	display: flex;
					    flex-direction: column;
					    align-items: center;
					    flex: 1;
					    text-transform: capitalize;
					    background-color: #fff;
					    padding: 5px 0;
					    border: 1px solid transparent;
					    border-right: 1px solid #d8d8d8;
					    position: relative;
					    svg {
					    	width: 45px;
					    	height: 45px;
					    }
				    }
				}
	    	}
	    	.transmission-types {
	    		display: flex;
    			border: 1px solid #d8d8d8;
    			.transmission {
    				flex: 1;
				    display: flex;
				    flex-direction: column;
				    align-items: center;
				    background-color: #fff;
				    padding: 5px 0;
				    position: relative;
				    border: 1px solid transparent;
				    cursor: pointer;
    			}
    			svg {
    				width: 50px;
    				height: 50px;
    			}
	    	}
	    }
    }
    .search-result {
    	background: #f7f7f7;
	    display: flex;
	    flex-direction: column;
	    flex: 3;
	    overflow: hidden;
	    .sort-wrapper {
	    	background-color: #e6e6e6;
    		padding: 10px 20px;
    		.item {
    			display: inline-block;
			    border-radius: 2px;
			    background-color: #fff;
			    border: 1px solid #d8d8d8;
			    padding: 3px 10px;
			    font-size: 11px;
			    color: #9b9b9b;
			    margin-left: 10px;
			    cursor: pointer;
			    position: relative;
    		}
	    }
	    .car-wrapper {
	    	.car-details {
	    		box-shadow: 0 0 6px 0 hsla(0,0%,66%,.5);
			    border: 1px solid #e1e1e1;
			    font-size: 12px;
			    background: #fff;
			    position: relative;
			    margin: 11px 0;
			    display: flex;
			    img {
			    	width: 200px;
			    }
			    .details {
			    	display: flex;
				    flex: 2;
				    flex-direction: column;
				    justify-content: center;
				    border-right: .5px dotted rgba(0,0,0,.1);
				    border-left: .5px dotted rgba(0,0,0,.1);
				    .name {
				    	font-size: 18px;
					    font-weight: 600;
					    margin: 0 20px 12px;
					    letter-spacing: 0.5px;
				    }
			    }
			    .features {
			    	display: flex;
				    justify-content: flex-start;
				    margin-left: 20px;
				    .feature {
						margin-right: 30px;
					    display: flex;
					    align-items: center;
				    }
			    }
			    .location {
			    	margin: 12px 20px 0;
			    }
			    .booking-flow {
			    	display: flex;
				    align-items: center;
				    justify-content: center;
				    flex-direction: column;
				    .price {
						font-size: 24px;
						margin-bottom: 12px;
				    }
				    button {
				    	background: #5e5bff;
				    	color: white;
				    	padding: 10px 20px;
				    }
			    }
	    	}
	    }
    }
}