<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Car Rental Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="minimum-scale=1.0, width=device-width, height=device-height, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="description" content="Book Self drive car rental in India.">
    <meta name="keywords" content="self-drive,car rental india.">
    <meta content="index,follow" name="robot">
    <meta content="© Copyright 2019 self-drive India. All rights reserved." name="copyright">
    <!-- Google Android. -->
    <meta name="theme-color" content="#5e5bff">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
